# ===============================
# Build & Binary Files
# ===============================
bin/
build/
*.out
*.exe
*.o
*.a
*.so

# ===============================
# MPI / OpenMP / Pthreads Outputs
# ===============================
*.log
*.err
*.slurm
slurm-*.out

# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# ===============================
# Editor / IDE
# ===============================
.vscode/
.idea/
*.swp

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db
